:root {
    --color-light: #666;
}

html {
    color: #333;
    font-family: monospace;
    font-size: 16px;
    line-height: 22px;
}

body {
    margin: 0 auto;
    max-width: 36rem;
    padding: 2rem 0rem 4rem;
    word-wrap : break-word;
}

h1 {
    padding-bottom: 0.3em;
    line-height: 1.2;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

time {
    color: var(--color-light);
    display: block;
    font-size: 0.8rem;
}
  
nav ul {
    display: inline;
    list-style-type: none;
}
  
.articles {
    padding-left: 0;
    list-style-type: none;
}

footer {
    padding: 20px;
    font-size: 0.8em;
    padding-left: 0;
}